/* Удалите стили для find-me-button */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}



.header {
    height: 5%;
    width: 100%;
    background-color: lightblue;
}

.pub-name-input {
    width: 80%;
    margin-top: 20px;
    padding: 10px;
    box-sizing: border-box;
}



@media screen and (max-width: 768px) { /* Mobile */
    .btn-danger.btn-lg {
        margin-top: 15px;
        width: 30vw;
        height:calc(30vw * 1.0);
        font-size: 24px;
    }
    .map {
        width: 100%;
        height: 30%;
        margin-top: 20px;
        border: 1px solid #ccc;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-top: 0;
    }
}
@media screen and (min-width: 769px) { /* PC */
    .btn-danger.btn-lg {
        margin-top: 15px;
        width: 15vw;
        height:calc(15vw * 1.0);
        font-size: 30px;
    }
    .map {
        width: 65%;
        height: 35%;
        margin-top: 20px;
        border: 1px solid #ccc;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-top: 0;
    }
}

.test{    display: none;    }
